<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs')%>
        <title>User homepage</title>
</head>

<body>
  <%- include('./partials/navbar-user.ejs') %>
    <b> System noName | Hello <span class="text-ligth">
        <%= user.prenom %>
        </span></b>
        
    <%- include('./partials/script_js.ejs')%>
</body>
<footer>
    <%- include('./partials/foot.ejs')%>
</footer>

</html>